syntax: glob
*.log
*.suo
*.*old*
*.vcxproj.user
*.*backup*
*/Release*/*
*/Debug*/*
*Release*/*
*Debug*/*
*.*sdf
*ipch/*
.vs/*
Utils/kkrunchy_k7_mod/.vs/*
Utils/kkrunchy_k7_mod/Debug/*
Utils/kkrunchy_k7_mod/Release/*
Builds/*
*/Screenshots/*
*/Autosave/*
*/Crashes/*
*/Minimals/*
apEx/version.txt
apEx/apEx.cfg
*.bak
MinimalPlayer/Data/release.obj
MinimalPlayer/Data/release.mus
MinimalPlayer/Data/release.64k
*.aps
apEx/Data/Streams
apEx.VC.db
apEx/Data/Autosave/*
apEx/Crashlogs/*
apEx/Data/Crashes/*
apEx/SoundCache/*
Utils/kkrunchy_k7_mod/kkrunched.exe
MinimalPlayer/Data/release.64k.sym
MinimalPlayer/Data/symbollist.txt
apEx/Data/Minimals/*
Utils/kkrunchy_k7_mod/kkrunched.exe
MinimalPlayer/.opencppcov/MinimalPlayer/Release_Win32.json
Phoenix/Minimal_Release/*
Phoenix/Debug_Release/*
Phoenix/Minimal_Debug/*
