#main
{
	margin:1px;
}

button
{
	width:100%;
	height:15px;
	top:0px;
}

#materialparams
{
	margin:0px;
	top:16px;
	border:1px;
	padding:1px;
	child-layout:vertical;
	child-fill-x:true;
	child-spacing:1px;
	overflow-y:auto;
}

trackbar
{
	height:15px;
}

.parambox
{	
	child-layout:vertical;
	child-fill-x:true;
	child-spacing:1px;
	border:1px;
	padding:1px;
}

.textureselect
{
	height:32px;
}

label
{
	height:12px;
}

.parambox button
{
	width:100%;
	height:15px;
}

.blendselect
{
	height:44px;
}

.blendlist
{
	margin:0px;
	child-layout:vertical;
	child-fill-x:true;
}

list
{
	height:122px;
}

#blendbox
{
	height:160px;
	child-layout:horizontal;
	child-fill-y:true;
	child-fill-x:true;
	child-spacing:1px;
}

.zmodeselect
{
	height:34px;
}

.zmodebox
{
	height:34px;
	child-fill-y:false;
	child-layout:vertical;
}

.colorselect
{
	height:80px;
}

.floatselect
{
	height:18px;
}

.fillselect
{
	height:18px;
}

.cullselect
{
	height:32px;
}

.zfunctselect
{
	height:32px;
}

.buttonlist
{
	height:15px;
	width:100%;
	child-layout:horizontal;
	child-fill-x:true;
	child-fill-y:true;
	child-spacing:1px;
}

.buttonlist button
{
	width:100%-16px;
}

#texturelocator
{
	width:15px;
}