#buttonbox
{
	margin: 1px;
	bottom: auto;
	height: 15px;
	child-layout: horizontal;
	child-fill-x: true;
	child-fill-y: true;
	child-spacing: 1px;
}

#cliplist
{
	top: 17px;
	left: 1px;
	right: 1px;
	bottom: 1px;
}